@model CaoDinhVu.Models.AccountModel
@{
    ViewBag.Title = "ProfileMain";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tài khoản của tôi</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item active" href="~/account/ProfileMain"> Tổng quan  </a>
                    <a class="list-group-item" href="~/account/ProfileAddress"> Địa chỉ </a>
                    <a class="list-group-item" href="~/account/ProfileOrder"> Đơn đặt hàng </a>
                    <a class="list-group-item" href="~/account/ProfileSetting"> Cài đặt </a>
                    <a class="list-group-item" href="~/dang-xuat"> Đăng Xuất </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <figure class="icontext">
                            <div class="icon">
                                <img class="rounded-circle img-sm border" src="images/avatars/@Model.user.Img">
                            </div>
                            <div class="text">
                                <strong> @Model.user.UserName </strong> <br>
                                <p class="mb-2"> @Model.user.Email  </p>
                                @*<a href="#" class="btn btn-light btn-sm">Edit</a>*@
                            </div>
                        </figure>
                        <hr>
                        <p>
                            <i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ:
                            <br>
                            @Model.user.Address
                            <a href="#" class="btn-link"> Edit</a>
                        </p>



                        <article class="card-group card-stat">
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title pl-5">@Model.donHang</h4>
                                    <span>Đơn hàng</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title pl-5">@Model.choXacNhan</h4>
                                    <span>Đơn hàng  Chờ xác nhận</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title pl-5">@Model.danggiao</h4>
                                    <span>Đơn hàng đang giao</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title pl-5">@Model.daGiao</h4>
                                    <span>Đơn hàng đã giao hàng</span>
                                </div>
                            </figure>
                        </article>


                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

                <article class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Đơn hàng gần đây</h5>
                    <div class="row">
                        @foreach (var item in Model.listOrder.Take(4))
                        {
                            <div class="col-md-6">
                                <figure class="itemside  mb-3">
                                    <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> @item.CreatedDate</time>
                                        <p>@item.Code </p>
                                        @if (item.Status == 1)
                                        {
                                            <span class="text-success">Đang giao</span>
                                        }
                                        @if (item.Status == 2)
                                        {
                                            <span class="text-success">Chờ Xác nhận</span>
                                        }
                                        @if (item.Status == 3)
                                        {
                                            <span class="text-success">Đã giao</span>
                                        }

                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                        }


                    </div> <!-- row.// -->

                        <a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
