@model CaoDinhVu.Context.Product

@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <strong class="text-danger text-uppercase">Tạo mới sản phẩm</strong>
                    </div>
                    <div class="col-sm-6 text-right">

                        <a href="@Url.Action("Index","Products")" class="btn btn-info"><i class="fas fa-chevron-left"></i> Quay lại</a>
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Lưu[Thêm]</button>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 mr-5">
                            <div class="form-group">
                                <label>Tên mục sản phẩm<span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Từ khóa<span class="text-danger">(*)</span></label>
                                @Html.TextAreaFor(model => model.Metakey, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Metakey, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                    <label>Mô tả từ khóa<span class="text-danger">(*)</span></label>
                                    @Html.TextAreaFor(model => model.Metadesc, new { @class = "form-control", @rows = "3" })
                                    @Html.ValidationMessageFor(model => model.Metadesc, "", new { @class = "text-danger" })
                                </div>
                            <!--<div class="form-group">

                                <label>Tiêu đề</label>-->
                                @*@Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "form-control", @rows = "3" })*@
                            
                                @*@Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control", @id = "ckeContent" } })*@
                                <!--@Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = "3", @id = "ckeContent" })
                                
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            <script type="text/javascript" lang="javascript">
                                CKEDITOR.replace("ckeContent");
                            </script>
                            </div>-->

                            <div class="form-group">
                                <label>Mô tả</label>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Danh mục</label>
                                @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.listCat, "chọn danh mục", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Nhà sản xuất</label>
                                @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.listSup, "Chọn nhà sản xuất", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Số lượng</label>
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Giá bán</label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Giá khuyến mãi</label>
                                @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <label>Image</label>
                                <input name="img" type="file" />
                                @* @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, "Trạng thái", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

