@model CaoDinhVu.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Title</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="@Url.Action("Index","Products")" class="btn btn-info"><i class="fas fa-chevron-left"></i> Quay lại</a>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chi tiết sản phẩm</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px">Tiên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Slug)</td>
                        <td>@Html.DisplayFor(model => model.Slug)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CategoryId)</td>
                        <td> @ViewBag.categoryName</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.SupplierId)</td>
                        <td> @ViewBag.brandName</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Image)</td>
                        <td>@Html.DisplayFor(model => model.Image)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Detail)</td>
                        <td>@Html.DisplayFor(model => model.Detail)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Metakey)</td>
                        <td>@Html.DisplayFor(model => model.Metakey)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Metadesc)</td>
                        <td>@Html.DisplayFor(model => model.Metadesc)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Created_by)</td>
                        <td>@Html.DisplayFor(model => model.Created_by)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Created_at)</td>
                        <td>@Html.DisplayFor(model => model.Created_at)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Updated_by)</td>
                        <td>@Html.DisplayFor(model => model.Updated_by)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Updated_at)</td>
                        <td>@Html.DisplayFor(model => model.Updated_at)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>


                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
