@model CaoDinhVu.Context.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width:120px">Tên trường</th>
                    <th>Nội dung</th>
                </tr>
                <tr>
                    <td>tên danh mục</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                    <td>Vị trí xắp xếp</td>
                    <td>@Html.DisplayFor(model => model.Orders)</td>
                <tr>
                    <td>Hình ảnh</td>
                    <td>@Html.DisplayFor(model => model.Image)</td>
                </tr>
                <tr>
                    <td>Tiêu đề</td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td>Mô tả</td>
                    <td>@Html.DisplayFor(model => model.MetaDesc)</td>
                </tr>
                <tr>
                    <td>Ngày tạo</td>
                    <td>@(String.Format("{0:d}", Model.CreatedAt))</td>
                </tr>
                @if(Model.UpdatedAt != null) {
                    <tr>
                        <td>Ngày sửa đổi</td>
                        <td>@(String.Format("{0:d}", Model.UpdatedAt))</td>
                    </tr>
                }
                <tr>
                    <td>Trạng Thái</td>
                    @{
                        if (Model.Status == 1)
                        {
                            <td>Xuất bản</td>
                        }
                        else
                        {
                            <td>không xuất bản</td>
                        }

                    }

                </tr>
            </table>
        </div>
    </div>
</div>
            